prometheus:

  server:
    ## ClusterIP for ingress
    service:
      type: ClusterIP
    
    ## use internal ingress
    ingress:
      enabled: false
      ingressClassName: "internal"
      hosts:
        - external-prometheus.pawked.com

    ## Set up storage
    persistentVolume:
      enabled: true
      existingClaim: external-prometheus

    ## Resource limits
    resources:
      requests:
        memory: "2Gi"
        cpu: "500m"
      limits:
        memory: "4Gi"
        cpu: "1"

    ## Prometheus data retention period
    retention: "2d"

    ## Prometheus' data retention size
    retentionSize: "256MB"

  ## Everything else is run seperate
  grafana:
    enabled: false

  kube-state-metrics:
    enabled: false

  alertmanager:
    enabled: false

  prometheus-node-exporter:
    enabled: false

  prometheus-pushgateway:
    enabled: false

  serverFiles:
    prometheus.yml:
      scrape_configs:
        - job_name: 'federate'
          honor_labels: true
          metrics_path: '/federate'
          params:
            'match[]':
            - '{__name__="up", job!="dousojin"}'
            - '{__name__="machine_cpu_cores"}'
            - '{__name__="machine_memory_bytes"}'
            - '{__name__="node_cpu_seconds_total", job!="dousojin"}'
            - '{__name__="node_memory_MemAvailable_bytes", job!="dousojin"}'
            - '{__name__="node_memory_MemTotal_bytes", job!="dousojin"}'
            - '{__name__="node_time_seconds", job!="dousojin"}'
            - '{__name__="node_boot_time_seconds", job!="dousojin"}'
            - '{__name__="node_network_receive_bytes_total", job!="dousojin", device=~"en.*"}'
            - '{__name__="node_network_transmit_bytes_total", job!="dousojin", device=~"en.*"}'
            - '{__name__="node_filesystem_free_bytes", job!="dousojin"}'
            - '{__name__="kubelet_running_pods"}'
            - '{__name__="kube_node_info"}'
            - '{__name__="kube_node_status_condition", condition="Ready"}'
            - '{__name__="node_filesystem_avail_bytes", job!="dousojin", mountpoint="/"}'
            - '{__name__="node_filesystem_size_bytes", job!="dousojin", mountpoint="/"}'
            - '{__name__="kube_pod_container_resource_limits"}'
            - '{__name__="kube_pod_container_resource_requests"}'

          metric_relabel_configs:
            - source_labels: [instance]
              regex: '192\.168\.1\.250:.*'
              target_label: "instance"
              replacement: "control-plane"
              action: replace
            - source_labels: [instance]
              regex: '192\.168\.1\.251:.*'
              target_label: "instance"
              replacement: "worker-01"
              action: replace
            - source_labels: [instance]
              regex: '192\.168\.1\.252:.*'
              target_label: "instance"
              replacement: "worker-02"
              action: replace

          static_configs:
            - targets:
                - prometheus-stack-kube-prom-prometheus.monitoring.svc.cluster.local:9090