# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: truenas-gotify-adapter
#   namespace: truenas-gotify-adapter
# spec:
#   ingressClassName: internal
#   tls:
#   - hosts:
#     - truenas-gotify-adapter.pawked.com
#   rules:
#   - host: truenas-gotify-adapter.pawked.com
#     http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: truenas-gotify-adapter
#             port:
#               number: 31662