apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: home-server
  namespace: argocd
spec:
  goTemplate: true
  generators:
  - git:
      repoURL: git@github.com:jwschman/argocd.git
      revision: HEAD
      directories:
      - path: apps/argocd
      - path: apps/nextcloud
      - path: apps/monitoring/*
      - path: apps/wordpress
      - path: apps/redmine
      - path: apps/gotify
      - path: apps/paperless
      - path: apps/redis
      - path: apps/truenas-gotify-adapter
      - path: apps/freshrss
      - path: apps/redis-new
      - path: apps/nextcloud-postgresql
      - path: apps/external-monitoring/*
  template:
    metadata:
      name: '{{.path.basename}}'
    spec:
      project: "default"
      source:
        repoURL: git@github.com:jwschman/argocd.git
        targetRevision: HEAD
        path: '{{.path.path}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{index .path.segments 1}}'
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
        automated:
          selfHeal: false
          prune: true
