apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-secrets 
  namespace: monitoring
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-secrets
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: grafana-secrets
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None